* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-color: #fff;
    color: #29292e;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
}